{% load widget_tweaks %}

{% if form.non_field_errors %}

<div class="alert alert-danger">

    {% for error in form.non_field_errors %}

        <p>{{ error }}</p>

    {% endfor %}

</div>

{% endif %}


{% for field in form %}

<div class="form-group">

    <label>
        {{ field.label_tag }}
    </label>

    {% render_field field class="form-control" %}

    {% for error in field.errors %}

        <div class="invalid-feedback">
            {{ error }}
        </div>

    {% endfor %}

</div>

{% endfor %}